* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.layout {
  display: flex;
  min-height: 100vh;
}

/* Menu lateral */
.menu {
  width: 220px;
  min-height: 100vh;
  background-color: #1976d2;

  display: flex;
  flex-direction: column;
}

.menu a {
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.menu a:hover {
  background-color: #125ca1;
}

/* Área onde as páginas aparecem */
.conteudo {
  flex: 1;
  padding: 40px;
}